body {
    background-color: rgb(40, 40, 40);
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather {
    border: 2px solid white;
    border-radius: 2px;
}