body {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(203, 241, 255);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 200px;
    width: 40%;
    max-width: 500px;
}

.header {
    text-decoration: underline;
}

.weather {
    /* border: 2px solid white;
    border-radius: 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 100, 100);
    color: rgb(203, 241, 255);
    border-radius: .5em;
    padding: .5em 1em;
    margin-top: 1em;
}

.wind {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center
}

#arrow {
    display: block;
    margin: 6px;
    width: 12px;
    height: 12px;
    border-top: 2px solid rgb(203, 241, 255);
    border-left: 2px solid rgb(203, 241, 255);
}

#arrow::after {
    content: "";
    display: block;
    width: 2px;
    height: 18px;
    background-color: rgb(203, 241, 255);
    transform: rotate(-45deg) translate(5.6px, 2px);
    left: 0;
    top: 0;
}

.error {
    color: rgb(255, 0, 0);
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
}

.footer-link {
    margin-top: 2em;
    text-decoration: none;
    color: black;
}

.footer {
    border-bottom: 2px solid transparent;
    transition: .2s;
}

.footer:hover {
    border-bottom-color: black;
}