<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Weather App</title>
</head>
<body>
    <div class="main">
        <h1>Weather</h1>
        <form method="post">
            <input type="text" name="search" placeholder="Search">
            <input type="submit" value="GO">
        </form>
        {{if .Error}}
        <span class="error">City not found, try again</span>
        {{end}}
        {{if .WeatherData}}
        <div class="weather">
            <div class="icon">
                <strong>{{.WeatherData.Name}}, {{.WeatherData.Sys.Country}}</strong>
                <img src="{{.IconURL}}" alt="icon">
            </div>
            <span class="temperature">{{.WeatherData.Main.Temp}}&#176;F</span>
            <span>Weather: {{(index .WeatherData.WeatherCondition 0).Main}} ({{(index .WeatherData.WeatherCondition 0).Description}})</span>
            <div class="wind">
                <span>Wind: {{.WeatherData.Wind.Speed}}mph {{.WeatherData.Wind.Degree}}&#176;</span>
                <div id="arrow"></div>
            </div>
        </div>
        <script>
            // Need to add 45 degrees bc its initially -45 or 315
            const degrees = String(parseInt("{{.WeatherData.Wind.Degree}}")+45);
            document.getElementById('arrow').style.transform = `rotate(${degrees}deg)`;
        </script>
        {{end}}
    </div>
</body>
</html>